@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav li a {
    text-decoration: none !important;
    color: black;
}

.card:hover {
    transition: 0.5s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.h-70{
    height: 80vh;
}

.rounded-xl{
    border-radius: 5rem !important;
}

.overflow-y-scroll::-webkit-scrollbar{
    display: none;
}

.overflow-y-scroll{
    -ms-overflow-style: none;
}